body {
  font-family: system-ui, sans-serif;
}

.login-container{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover; /* ensures it covers whole page */
  background-repeat: no-repeat;
  display : flex;
  justify-content : center;
  align-items : center;
  margin : 135px 120px;
}

.login-box {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
}
.login-box h2 {
  margin-bottom: 1.5rem;
  color: #333
}
.login-box form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.login-box input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}
.login-box p{
  color: #e63946;
  font-weight: 600;
  margin-top: 1rem;
}
.login-box button {
  background-color: #5563DE;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}
.login-box button:hover {
  background-color: #3b4cc0;
}

.message {
  margin-top: 1rem;
  color: #444;
  font-weight: 500;
}
.inputs-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}