.form{
    display: flex;
    flex-direction: column;
}
.form label {
  display: flex;
  flex-direction: column; 
  gap: 8px;
  padding: 5px 10px;
  align-items: flex-start;
}
.form input,
.form select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  align-self: center;
  width: 100%;
}
.action-buttons{
    padding-top: 15px;
}
.title{
    padding-top: 0px;
}