*, *::before, *::after {
    box-sizing: border-box;
}
.income-header {
    display : flex;
    justify-content: space-evenly;
    align-items: center;
}
.income-header button,
.action-buttons button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1D1D41;
  color: #f0f2f4;
  cursor: pointer;
  transition: border-color 0.25s;
}
.income-table th, .income-table td {
   border: 1px solid #1D1D41;
   padding: 8px;

}
.income-table{
    margin: 0 auto;
    border: #1D1D41 2px solid;
}