*,
*::before,
*::after {
    box-sizing: border-box;
}
.category-card {
    border: 1px solid #1D1D41;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #213448;
    color:#f0f2f4;
    cursor: pointer;

    box-shadow: inset 0 0 10px #213448;
}
.action-buttons {
    display: flex;
    justify-content: space-evenly;
}
.card-header{
    display:flex;
    justify-content: space-between;
}
.category-name{
    display: flex;
    margin:0px 40px 20px 0px;
    font-size: 1.3em
}
.action-buttons button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.1em;
    font-weight: 500;
    font-family: inherit;
    background-color: oklch(0.92 0.02 174);
    color: #213448;
    cursor: pointer;
    transition: border-color 0.25s;
}