*, *::before, *::after {
    box-sizing: border-box;
}
.category-header{
    margin:0px 60px;
    display : flex;
    justify-content: space-between;
    align-items : center;
    color:#213448;
}
.action-buttons{
    display : flex;
    gap : 10px;
    align-items: center;
}
.category-header button,
.action-buttons button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #213448;
  color: #f0f2f4;
  cursor: pointer;
  transition: border-color 0.25s;
}
.category-table{
    border-collapse: collapse;
}
.category-table th, .category-table td {
    padding: 12px;
    border: 1px solid #1D1D41;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding:60px;
}