*, *::before, *::after {
    box-sizing: border-box;
}
.header-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items : center;
    color:hsl(210 100% 96%);
    background-color: #213448;
    padding: 0px 60px;

}
.navbar-navigation a{
    color:oklch(0.92 0.02 174);
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: oklch(0.92 0.02 174);
  color: #213448;
  cursor: pointer;
  transition: border-color 0.25s;
}
.navbar-navigation {
    display: flex;
    gap: 15px;
    justify-content: center;
}
.nav-logo{
    cursor: pointer;
    display: inline-block;
    margin : 10px 0px ;

}