*, *::before, *::after {
    box-sizing: border-box;
}
.header-container {
    display : flex;
    align-items : center;
    justify-content : space-between;
    color:aliceblue;
    border-bottom: 1px solid #ddd;
    background-color: #1D1D41;
    padding: 0px 60px;

}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  color: #516778;
  cursor: pointer;
  transition: border-color 0.25s;
}
.navbar-navigation {
    display: flex;
    gap: 15px;
}