:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(12, 11, 11, 0.87);
  background-color: oklch(0.92 0.02 174);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: oklch(0.4 0.04 174);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

}

h1 {
  line-height: 1.1;
}






